
@{
    ViewData["Title"] = "AddPerson";
}

<h4>Добавление сотрудника</h4>
<hr/>
@if (ViewBag.Post)
{
    <p>
        Добавлено
        
        </p> 
}
else
{
    //фома добавления
<form method="post" action="~/Home/AddPerson">
    <label>ФИО</label>
    <input type="text" name="Name" title="Напишите нужное имя" /> <br />

    <label>Должность</label>
    <input type="text" name="Post" title="Введите должность" /> <br />

    <label>Вид сотрудника</label>
    <select type="text" name="Type" title="Введите вид сотрудника">
        <option value="Employee">Employee</option>
        <option value="Manager">Manager</option>
        <option value="Sales">Sales</option>
    </select> <br />

    <label>Дата трудоустройства</label>
    <input type="date" name="DateEmployment" title="Введите дату трудоустройства" value="@DateTime.Now.ToString()" /> <br />

    <select type="text" name="IdChief" title="Выберите Начальника">
        <option value="0" selected > Нет начальника </option>
        @foreach (Personnel p in ObjectModel.Company.Personnels)
        {
            <option value="@p.Id"> @p.Name (@p.Post) </option>
        }
    </select> <br />


    <input type="submit" value="Добавить" />

</form>
}